body {
 
  background-color: #111111;
  color: #fff;
 
}

.containerss {
  z-index: 3;
  width: 80%;
  margin: 100px auto;
}
@media (min-width: 500px) {
  .containerss {
    width: 420px;
    left: 0;
  }
}
@media (min-width: 768px) {
  .containerss {
    width: 748px;
  }
}
@media (min-width: 1200px) {
  .containerss {
    width: 880px;
  }
}
.containerss section {
  margin-top: 28px;
}
.containerss section .img {

  height: 200px;
  }
@media (min-width: 768px) {
  .containerss section .img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .containerss section .img {
    width: 450px;
    height: 350px;
  }
}
.containerss section .ctnt {
  display: none;
}
@media (min-width: 768px) {
  .containerss section .ctnt {
    display: block;
    height: 375px;
    margin-top: -375px;
  }
}
@media (min-width: 1200px) {
  .containerss section .ctnt {
    display: block;
    height: 460px;
    margin-top: -460px;
  }
}
@media (min-width: 768px) {
  .containerss section.left .ctnt {
    margin-left: 479px;
  }
}
@media (min-width: 1200px) {
  .containerss section.left .ctnt {
    margin-left: 564px;
  }
}
@media (min-width: 768px) {
  .containerss section.right .ctnt {
    margin-left: 104px;
  }
}
@media (min-width: 1200px) {
  .containerss section.right .ctnt {
    margin-left: 104px;
  }
}
@media (min-width: 768px) {
  .containerss section.right .img {
    margin-left: 373px;
  }
}
@media (min-width: 1200px) {
  .containerss section.right .img {
    margin-left: 420px;
  }
}

.ctnt {
  font-family: 'Lato', sans-serif;
  color: #F4EFD2;
}

.num {
  font-size: 100px;
  font-family: 'Playfair Display', serif;
  color: #272727;
}

.sub {
  font-size: 1.1em;
  letter-spacing: .5px;
  line-height: 1.6em;
}
@media (min-width: 768px) {
  .sub {
    width: 187.5px;
  }
}
@media (min-width: 1200px) {
  .sub {
    width: 230px;
  }
}

.btn {
  display: inline-block;
  background: #272727;
  text-align: center;
  padding: 16px 24px;
  margin-top: 20px;
}

.background {
  opacity: .5;
  width: 100%;
  
  position: relative;
  z-index: -1;
}
@media (min-width: 500px) {
  .background {
    width: 420px;
  }
}
@media (min-width: 768px) {
  .background {
    width: 748px;
  }
}
@media (min-width: 1200px) {
  .background {
    width: 880px;
  }
}
.background img {
  position: absolute;
}
